/* css reset */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {          
    font-family: sans-serif;  
}

/* utils */
.container {             
    max-width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

/* header */
header {
    background-color: #78a9e2;
    height: 100px;
    background-image: url(../asset/img/pattern.png);
    background-size: 25%;
}

#logo {
    height: 50px;
}